
nav {

    background-color:Navy;
    height: 100px;

    Display: flex;
    align-items: center;

    color: Snow;

}

ul {

    width: 100%;
    Display: flex;
    list-style-type: None;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}

a {

    color: snow;

}

a:hover {

    color: Gold;

}

footer {

    Display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.copyright {

    margin: 5px;

}

.schoolLogo {

    border-style: solid;
    border-width: 1px;

}

main {

    

}