
nav {

    background-color:#000080;
    height: 100px;

    Display: flex;
    align-items: center;

    color: #fffafa;

}

.navUl {

    width: 100%;
    Display: flex;
    list-style-type: None;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

}

a {

    color: snow;

}

a:hover {

    color: #ffd700;

}

.selected {

    color: gold;

}

footer {

    Display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.copyright {

    margin: 5px;

}

.schoolLogo {

    border-style: solid;
    border-width: 1px;

}

main {

    background-color: #d4deff;
    padding: 20px;
    margin: 10px;
    color: black;

}