
nav {

    background-color:#000080;
    height: 100px;

    Display: flex;
    align-items: center;

    color: #fffafa;

}

.navUl {

    width: 100%;
    Display: flex;
    list-style-type: None;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0px;

}

a {

    color: snow;

}

a:hover {

    color: #ffd700;

}

.selected {

    color: gold;

}

footer {

    Display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.copyright {

    margin: 5px;

}

.schoolLogo {

    Display: flex;
    float: right;

}

.goldenclover {

    /* border-style: solid; */
    border-style: none;
    /* border-width: 1px; */
    
}

main {

    background-color: #d4deff;
    padding: 20px;
    margin: 10px;
    color: black;

}

.imageOfMyself {
    Display: flex;
    justify-content: center;
}